<div class="item">
    <div class="row">
        <img src="<%- model.get('image').m %>" class="col-sm-12">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="text-primary"><%- model.get('title') %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-default likeProduct" data-loading-text="...">Like</button>
            <% if (model.get('price')) { %>
                <button class="btn btn-success">Buy
                    <%- Math.round( model.get('price') * fbUser.currency.usd_exchange_inverse * fbUser.currency.currency_offset ) / fbUser.currency.currency_offset %>
                    <%- fbUser.currency.user_currency %>
                </button>
            <% } %>
        </div>
    </div>
</div>