.header {
  background: @brand-primary;
  padding: @grid-gutter-width 0;
  color: #fff;

  h1, h2, h3, h4, h5, h6 {
    small {
      color: inherit;
      font-weight: inherit;
    }
  }

  p {
    text-align: justify;
  }

  .video {
    float: right;
    width: (@col-width * 2) - @grid-gutter-width;
    height: ((@col-width * 2 - @grid-gutter-width)/16)*9;
    margin-left: @grid-gutter-width;
    margin-bottom: @grid-gutter-width;

    @media (max-width: (@col-width*3 + @grid-gutter-width*2 - 1)) {
      margin-left: 0;
    }

    @media (max-width: (@col-width*2 + @grid-gutter-width - 1)) {
      width: (@col-width - @grid-gutter-width);
      height: ((@col-width - @grid-gutter-width)/16)*9;
    }
  }

  .btnCta {

    @media (max-width: (@col-width*3 + @grid-gutter-width*2 - 1)) {
      .btn-block();
    }

  }
}