@import "/bootstrap/less/bootstrap.less";

/*!
 * Mercher v1.0.0
 * Template None
 */

body {
  margin-top: 65px;
  margin-bottom: 65px;
}

.container {
  width: 100%;
}

.product_list {
  .item {
    margin: 0 0 15px 0;
    img {
    }
  }
}

.row {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}