@import "/bootstrap/less/bootstrap.less";

/*!
 * Mercher v1.0.0
 * Template None
 */

body {
  margin-top: 100px;
}

#main-navbar {
  position: absolute;
  z-index: 1030;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  .border-top-radius(0);
  .border-bottom-radius(0);
}

#PayPalCart {
  position: absolute;
  z-index: 1000;
  right: 0;
  left: 0;
  top: 50px;

  #PPMiniCart{
    height: 35px;
    width: 100%;

    form {
      position: relative;
      width: 100%;
      left: 0;
      right: 0;
      color: @text-color;
      background-color: @navbar-default-bg;
      border-color: @navbar-default-border;
      .box-shadow(none);
      .border-bottom-radius(@border-radius-base);
    }

    p {
      input {
        .btn();
        .btn-primary();
        .btn-xs();
        margin: 0;
      }
    }
  }
}

.container {
  width: 100%;
}

.product_list {
  .item {
    margin: 0 0 30px 0;

    .likeProduct {
      width: 50px;
      height: 50px;
      float: left;
      margin: 0 0 -50px 0;
      z-index: 2;
      position: relative;
      background: none;
      border: none;
      padding: 0;
      background: url('./app/img/heart.png');
      color: #f5f5f5;
      &.active {
        background: url('./app/img/heart_active.png');
        color: #777777;
      }
      &:hover {
        background: url('./app/img/heart_hover.png');
        &.active {
          background: url('./app/img/heart_hover_active.png');
        }
      }
    }

    .image {
      margin: 0;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
    .title {
      margin: 10px 0 0 0;
      cursor: pointer;
    }
    .description {
      margin: 10px 0 0 0;
      text-align: justify;
      cursor: pointer;

      &.closed {
        max-height: 60px;
        overflow: hidden;
      }
    }
    .actions {
      margin: 10px 0 0 0;
    }
  }
}

.row {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}