@hero-circle-size-default: 100px;
@hero-circle-border-size-default: 2px;

.hero {
  background-color: @brand-primary;
  color: white;
  border: none;
  margin-bottom: 20px;

  .hero-circle {
    &-item {
      display: inline-block;
      color: white;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 300;
      height: @hero-circle-size-default;
      width: @hero-circle-size-default;
      border-radius: @hero-circle-size-default;
      margin: 0;
      line-height: ceil(@hero-circle-size-default - (@hero-circle-border-size-default * 2));
      border: @hero-circle-border-size-default solid white;
      background: transparent;
    }

    &-holder {
      width: 100% / 3;
      float: left;
      height: @hero-circle-size-default;
      padding: (@hero-circle-size-default - @hero-circle-size-default) / 2;
    }

    &-block {
      margin: 20px 0 0 0;
      .clearfix();
    }
  }

  &-img {
    width: 100%;
  }

  &-heading {
    &-first {
      margin: 30px 0 0 0;
      font-weight: 200;
      font-size: 40px;
      display: block;
      line-height: 40px;
    }
    &-second {
      margin: 10px 0 0 0;
      font-weight: 200;
      font-size: 36px;
      display: block;
      line-height: 40px;
    }
  }

  &-get-started {
    text-align: center;
    margin: 30px 0;

    .btn {
      background: white;
      color: darken(@brand-primary, 10%);
    }
  }

  &-customers {
    margin: 20px 0 -20px 0;
    background: darken(@body-bg, 5%);
    padding: 40px 0;

    h2 {
      margin: 0 0 40px 0;
      text-transform: uppercase;
      color: darken(@body-bg, 25%);
      text-align: center;
    }

    img {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      filter: gray;
      -webkit-filter: grayscale(100%);

      &:hover {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(0%);
      }
    }

  }
}

#hero-desc {

  &-block {
    margin: 40px 0;
    .text-muted();
    font-size: 20px;
    min-height: 170px;
    font-weight: 300;

    strong {
      font-weight: normal;
    }

    p {
      text-align: center;
    }
  }
}