@import "../bootstrap/less/bootstrap.less";
  /*!
   * Mercher v1.0.0
   *
   */
@import "variables.less";
@import "fonts.less";
@import "buttons.less";
@import "navbar.less";
@import "hero.less";
@import "forms.less";

footer {
  margin-top: @navbar-margin-bottom;
  border-top: 4px solid @navbar-default-border;
  text-align: center;
  padding: 10px 0 40px 0;
  text-transform: uppercase;
  color: @text-muted;

  .nav {
    width: 300px;
    margin: 10px auto;

    a {
      color: @text-muted;
    }
  }
}

.gridView {
  padding-top: 40px;

  .row {
    margin: 0;
    padding: 10px 0;

    &:hover {
      background: @gray-lighter;
    }
  }

  .header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 0;

    .row {
      position: relative;
      top: -40px;
      background: fadeout(@gray-light, 50%);
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
      color: white;
    }
  }
}

.design-in-row-line {

  .design-in-row-btn {
    &-r2c2,
    &-r3c3,
    &-r4c4 {
      height: 200px;
      background: @input-bg;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      border-radius: @border-radius-base;
      border: 4px solid @input-border;
      cursor: pointer;

      input {
        width: 0;
        height: 0;
        border: none;
        margin: 0;
        padding: 0;
      }

      &.active {
        border-color: @brand-primary;
      }
    }


    &-r2c2 {
      background-image: url('/img/r2c2.png');
    }

    &-r3c3 {
      background-image: url('/img/r3c3.png');
    }

    &-r4c4 {
      background-image: url('/img/r4c4.png');
    }
  }
}