@import "../bootstrap/less/bootstrap.less";

@import "variables";
@import "fonts";
@import "buttons";
@import "forms";
@import "tab/views";


@body-bg: #fff;
@modal-backdrop-bg: #fff;

.btn-primary {
  background-image: url('/img/bg_1024.png');
  background-position: center;
  background-repeat: repeat;
}