@import "../bootstrap/less/bootstrap.less";

@import "variables";
@import "fonts";
@import "buttons";
@import "forms";
@import "tab/views";
@import "tab/navbar";

::-webkit-scrollbar{
  width:4px;
  background:transparent;
  &-thumb{
    background: @gray-lighter;
    &:hover, &:active {
      background: darken(@gray-lighter, 10%);
    }
  }
  &-track{
    border:none;
    background:none;
  }
}

@body-bg: #fff;
@modal-backdrop-bg: #fff;

body {
  margin-top: @navbar-height + @grid-gutter-width;
}

.btn-primary {
  background-image: url('/img/bg_1024.png');
  background-position: center;
  background-repeat: repeat;
}