RewriteEngine on

RewriteCond %{SERVER_PORT} 80.
RewriteRule ^(.*)$ https://mercher.net/$1 [R,L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php