RewriteEngine on

RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^www\.mercher\.net$ [NC]
RewriteCond %{HTTP_HOST} ^mercher\.net$ [NC]
RewriteRule ^(.*)$ https://mercher.net/$1 [R,L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php