@orders-index-item-card-height: 50px;

&-item {
  .card {
    margin: 0 0 @grid-gutter-width 0;
    height: @orders-index-item-card-height;
    overflow: hidden;
    line-height: @orders-index-item-card-height;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    white-space: nowrap;

    border-left: @navbar-tab-nav-border-size solid transparent;
    margin-left: -@navbar-tab-nav-border-size;
    padding-left: 15px;

    &:hover {
      border-color: @navbar-tab-nav-item-border-hover-color;
    }

    .images {
    }

    .total-sum {
      text-align: right;
    }

    &.new {

    }


  }

  @import "item/product";
}