<div class="row">
    <div class="col-sm-6">
        <div class="image">
            <% if (!_.isEmpty(model.get('image'))) { %>
                <img src="<%- model.get('image').l %>" style="width: 100%;">
            <% } else { %>
                <img src="https://graph.facebook.com/<%- appConfig.shop.page %>/picture?width=400&height=400" style="width: 100%;">
            <% } %>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="title">
            <h4 class="text-center">
                <%- model.get('title') %>
            </h4>
        </div>
        <% if (model.get('description')) { %>
            <div class="description">
                <p class="text-muted">
                    <small><%- model.get('description') %></small>
                </p>
            </div>
        <% } %>
        <div class="actions">
            <% if (model.get('amount') && appConfig.shop.pp_merchant_id) { %>
                <button class="btn btn-primary btn-block addToCart">Buy for &#36;<%- model.get('amount') %></button>
            <% } %>
        </div>
    </div>
</div>