<div id="fb-root"></div>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><%- appConfig.title %></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">All <b class="caret"></b></a>
            <ul class="dropdown-menu" id="categories_menu">
                <li><a href="#category/1">All</a></li>
            </ul>
        </li>
    </ul>
</nav>


<div class="container">

    <div id="content"></div>

    <hr>

    <footer>
        <p>Powered by <a href="//apps.facebook.com/mercher/" target="_blank">Mercher</a></p>
    </footer>

</div>