<div id="fb-root"></div>
<nav class="navbar navbar-default" role="navigation" id="main-navbar">
    <div class="navbar-header">
        <a class="navbar-brand" href="#products"><%- appConfig.title?appConfig.title:appConfig.shop.title %></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
            <ul class="dropdown-menu" id="categories_menu"></ul>
        </li>
    </ul>
</nav>

<div id="PayPalCart"></div>

<div class="container">
    <div id="content"></div>
</div>

<hr />
<p class="text-muted pull-right">Powered by <a href="//apps.facebook.com/mercher/" target="_blank">Mercher</a></p>