<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn btn-link pull-right" data-dismiss="modal">Continue shopping</button>
            <h4 class="modal-title">Cart</h4>
        </div>
        <div class="modal-body">
            <div class="list"></div>
            <div class="row total-line">
                <div class="col-xs-8">
                    <span class="pull-right">Total:</span>
                </div>
                <div class="col-xs-4">
                    <span class="total-sum pull-left">&#36;0.00</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Continue shopping</button>
            <button type="button" class="btn btn-primary">Checkout</button>
        </div>
    </div>
</div>