<?php

return [
	'class'         => '\PayPalComponent\Client',
	'applicationId' => 'APP-80W284485P519543T',
	'userId'        => 'dmitriy.s.les-facilitator_api1.gmail.com',
	'password'      => '1391764851',
	'signature'     => 'AIkghGmb0DgD6MEPZCmNq.bKujMAA8NEIHryH-LQIfmx7UZ5q1LXAa7T',
	'primaryEmail'  => 'dmitriy.s.les-facilitator@gmail.com',
	'baseUrl'       => 'https://svcs.sandbox.paypal.com/',
	'fee'           => 0.049 // 4.9%
];