<div id="fb-root"></div>
<header id="header">
    <nav class="navbar navbar-tab navbar-fixed-top" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/products">Products</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/orders">Orders</a></li>
                <!--
                <li><a href="/wishlist">Wishlist</a></li>
                -->
            </ul>
        </div>
    </nav>
</header>
<section id="content"></section>
<footer id="footer"></footer>
<div id="dialogs"></div>